# Hanya izinkan file-file berikut
*

!.gitignore
!README.md
!CLAUDE.md
!preprocessing.ipynb
!fasttext.ipynb
!cross_prompt_injection.ipynb
!balancing_data.ipynb
!siamese_bilstm_direct.ipynb
!siamese_bilstm_direct_no_cross.ipynb
